.grid-filter {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 50px;
  justify-content: center;
}

.div-input-home {
  display: flex;
  justify-content: center;
}

#search-input {
  width: 300px;
}

.shopCart {

  display: flex;

}

.image-shop-cart {
  width: 50px;
}

.name-prix {
  display: flex;
  justify-content: space-around;
}

.name-prix ::before {
 content: ' | ';
}

#quantity-product {
  width: 20%;
  height: 20%;
}