.grid-filter {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 50px;
  justify-content: center;
}

.div-input-home {
  display: flex;
  justify-content: center;
}

#search-input {
  width: 300px;
  margin-bottom: 100px;
  margin-top: 30px;
}


.image-shop-cart {
  width: 50px;
}


#quantity-product {
  width: 20%;
  height: 20%;
}

#remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: 2px solid red;
  height: 20px;
  width: 80px;
  margin-left: 20px;
 
}

.total-general {
  text-align: center;
 
}

.sub-total {
  font-weight: bold;
  color: #00A170;
}

.shop-cart-title {
  text-align: center;
  margin: 70px;
}

.all-shop-cart {
  margin-bottom: 500px;
}