.grid-map-products {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 50px;
    justify-content: center;
}
.item-map-products{
  border: solid 1px rgb(186, 186, 186);
  border-radius: 10px;
  width: 100%;
  background-color: #FFFFFF;
}

/* Pour lever la carte quand hover avec la souris */
.item-map-products:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.div-thumbnail-map-products {
  width: 100%;
  height: 240px;
}

.thumbnail-map-products {
  /* C'est l'image qui doit avoir width et height défini et object-fit */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;

}

.div-text-products {
  margin-top: -10px;
  text-align: center;
}

.product-auteur {
  color: #0072B5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-infoProduit {
  margin-bottom: 20px;
  color: #ff0921;
}


.product-prix {
  color: #0072B5;


}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  border-radius: 0px;
  height: 45px;
}




