
.item-map-products{
  border: solid 1px rgb(186, 186, 186);
  border-radius: 10px;
  width: 100%;
  background-color: #FFFFFF;
}

.item-map-products:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.div-thumbnail-map-products {
  width: 100%;
  height: 240px;
}

.thumbnail-map-products {
  /* C'est l'image qui doit avoir width et height défini et object-fit */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;

}

.div-text-map-products {
  margin-top: -10px;
  text-align: center;
}

.map-products-type {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}


.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  border-radius: 0px;
  height: 45px;
}

.map-products-auteur {
  font-family: 'Martian Mono', monospace;
  color: #ff0921;
}


.map-products-price {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;

}


